
.Book {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  padding: 20px;
  text-align: unset;
}

.book-form {
  text-align: -webkit-center;
}
.book-form form {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
}
